/*
/////////////////////////////////////////////////////////
//////////////// CLASSES DE DÉMARRAGE ///////////////////
///////////////////// (à jeter) /////////////////////////
*/

/* Rappel d'une classe */
.lePointClaClasse {
  color: var(--color-03);
}

/* Trait de séparation */
hr {
  border: 1px solid currentColor;
}

/* Titres personnalisés */
.mesTitrages {
  font-size: 25px;
  color: black;
}

/* Tailles de polices personnalisées */
.font-taille-400 {
  font-weight: 400;
  font-size: 16px;
}

.font-taille-700-22 {
  font-weight: 700;
  font-size: 22px;
}

.font-taille-700-16 {
  font-weight: 700;
  font-size: 16px;
}

i {
  font-weight: 700;
  font-size: 20px;
}
