/*
/////////////////////////////////////////////////////////
///////////////////// GLOBAL CSS ////////////////////////
/////////////////////////////////////////////////////////
*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box; /* facilite et simplifie la gestion de la taille des éléments d'un navigateur à l'autre */
  max-width: 1440px; /* Largeur max du site */
  margin: auto; /* A pour effet de centrer le site dans la page du navigateur */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  color: var(--color-01);
}

/*
/////////////////////////////////////////////////////////
/////////////////////// COLORS //////////////////////////
/////////////////////////////////////////////////////////
*/

:root {
  --color-01: black;
  --color-01-sha: rgba(0, 0, 0, 0.2);
  --color-02: white;

  /* Bleu Booki */
  --color-03: #0065fc;
  /* Version plus claire du bleu Booki */
  --color-04: #deebff;
  /* Gris pour le fond */
  --color-05: #f2f2f2;
}

/*
///////////////////// LES FONTES ////////////////////////
*/

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

h2 {
  margin-top: 45px;
  margin-bottom: 25px;
}
/*
///////////////////// < ul > /////////////////////////////
*/

ul,
li {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/*
///////////////////// < a > //////////////////////////////
*/

a,
a:visited,
a:hover {
  text-decoration: none;
}

a {
  margin: 0;
  padding: 0;
  color: var(--color-01);
}

button {
  border-style: none;
  background-color: transparent;
}
/*
/////////////////////////////////////////////////////////
////////////////////// CONTAINERS ///////////////////////
/////////////////////////////////////////////////////////
*/

.container-01 {
  max-width: 93%;
  margin: auto;
  /*
  MARGES
  HautBas = 0px.
  DroiteGauche = auto.
  */
}

.container-02 {
  max-width: 93%;
  margin: 20px auto;
  /*
  MARGES
  HautBas = 20px.
  DroiteGauche = auto.
  */
}

.container-03 {
  margin: 25px auto;
  /*
  MARGES
  HautBas = 25px.
  DroiteGauche = auto.
  */
}

.container-04 {
  max-width: 100%;
  margin: 0px;
}

/*
/////////////////////////////////////////////////////////
///////////////////////// FLEXBOX ///////////////////////
/////////////////////////////////////////////////////////
*/

.d-flex {
  display: flex;
}

.fw {
  flex-wrap: wrap;
}

.fd-c {
  flex-direction: column;
}

.ai-b {
  align-items: baseline;
}

.ai-c {
  align-items: center;
}

.ai-s {
  align-items: stretch;
}

.jc-c {
  justify-content: center;
}

.jc-sa {
  justify-content: space-around;
}

.jc-sb {
  justify-content: space-between;
}

/*
/////////////////////////////////////////////////////////
///////////////////////// HEADER ////////////////////////
/////////////////////////////////////////////////////////
*/

/* :::::::::::::::::::::::::::::::::::::::::::::::::::: */
/*                   Section logo & nav                 */
/* :::::::::::::::::::::::::::::::::::::::::::::::::::: */

.section-logo-nav > img {
  height: 19px;
  width: 61px;
}

.section-logo-nav > nav {
  font-size: 16px;
}

/* Liens Hébergement et Activités */
nav > ul > li > a {
  width: 162px;
  padding-top: 35px;
  cursor: default;
}

.left,
.right {
  border-top: solid 2px transparent;
}

.left:hover {
  border-top: solid 2px;
  color: var(--color-03);
}

.right:hover {
  border-top: solid 2px;
  color: var(--color-03);
}
/* :::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ------ Section Titre & baseline -------------------- */
/* :::::::::::::::::::::::::::::::::::::::::::::::::::: */

.section-title > h1 {
  font-size: 22px;
  font-weight: 700;
  margin: 60px auto 0px auto;
}

.section-title > h1 > br {
  display: none;
}

.section-title > p {
  margin-top: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ------ Section rechercher -------------------------- */
/* :::::::::::::::::::::::::::::::::::::::::::::::::::: */

form > div {
  width: 50px;
  height: 49px;
  border-radius: 15px 0px 0px 15px;
  background-color: var(--color-05);
  border: solid 1px var(--color-05);
}

form > div > i {
  /* Icône de position */
  color: var(--color-01);
  font-size: 20px;
}

input {
  width: 230px;
  height: 49px;
  padding-left: 16px;
  border: solid 1px var(--color-05);
  /* Font */
  font-size: 18px;
  font-weight: 700;
}

input::placeholder {
  /* Permet de cibler le pseudo-element placeholder dans l'input texte */
  color: var(--color-01);
  opacity: 1;
}

form > button {
  height: 49px;
  border-radius: 0px 15px 15px 0px;
  color: var(--color-02);
  background-color: var(--color-03);
  /* Font */
  font-size: 18px;
  font-weight: 600;
}

.search-icon-desktop {
  width: 132px;
}

.search-icon-mobile {
  /* Cache la loupe */
  visibility: hidden;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ------ Section : Filter ---------------------------- */
/* :::::::::::::::::::::::::::::::::::::::::::::::::::: */

.filters > section {
  width: 100%;
}

.filters * {
  /* Polices */
  font-size: 17px;
  font-weight: 700;
}

.filters > ul {
  height: 50px;
  border-radius: 25px;
  margin-left: 30px;

  /* margin-right: 10px; */
  border: solid 2px var(--color-05);
}

.filters > ul > li {
  cursor: default;
}

.filters > ul > li > i {
  /* Les icônes */
  margin-left: 20px;
  margin-right: 10px;
  /* Font */
  font-size: 22px;
  cursor: default;
}

.filters-text {
  /* Marges autour des textes */
  margin-right: 20px;
}

.filters-bg-color:hover {
  background-color: var(--color-04);
}

.filters > ul.b-shadow-filters {
  /* Ombre sous le bouton : Économique */
  box-shadow: none;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ------ Section : i : information ------------------- */
/* :::::::::::::::::::::::::::::::::::::::::::::::::::: */

.section-info {
  margin-bottom: 35px;
}

.section-info > div {
  font-size: 12px;
  height: 24px;
  width: 24px;
  border-radius: 50px;
  color: var(--color-03);
  border: solid 1px var(--color-05);
}

.section-info > p {
  margin-left: 10px;
}

.section-info > p > br {
  /* Empèche le retour à la ligne */
  display: none;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::: */

/*
/////////////////////////////////////////////////////////
//////// MAIN //// ÉLÉMENTS GRAPHIQUE SIMILAIRES ////////
/////////////////////////////////////////////////////////
*/

i {
  /* Toutes les icônes FontAwesome */
  color: var(--color-03);
  font-size: 14px;
}

.booki-light-blue {
  /* Couleur étoile claire */
  color: var(--color-04);
  /* Font */
  font-size: 14px;
}

/* ------ <h3> / <p> / <strong> des cartes ------------------ */

.card-title {
  /* Font */
  font-weight: 700;
  font-size: 16px;
}

.card-p {
  /* Font */
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding-top: 5px;
  padding-bottom: 7px;
}

.card-p > strong {
  font-size: 14px;
  font-weight: 600;
}

/* ------ Ombre des cartes ---------------------------- */

.b-shadow {
  box-shadow: 5px 5px 10px var(--color-01-sha);
}

/*
/////////////////////////////////////////////////////////
////////// MAIN //// Hébergement à Marseille ////////////
/////////////////////////////////////////////////////////
*/

#main-apartment {
  /* section : background hébergement à Marseille */
  width: 68%;
  /* Sur la largeur totale du site ce bloc prend : 70% */

  background-color: var(--color-05);
  border-radius: 20px;
  /* Met un espace à l'intérieur de ma section
  à droite et à gauche */
  padding-left: 25px;
  padding-right: 25px;
}

#main-apartment > section > div {
  margin-left: 25px;
  margin-right: 25px;
}

.card-apartment {
  /* carte des hébergements */
  width: 100%;
  border-radius: 20px;
  background-color: var(--color-02);
}

.card-apartment > div {
  width: 85%;
  margin-left: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.img-apartment {
  /* Images des hébergements */
  width: 100%;
  height: 124px;
  object-fit: cover;
  /* Contour Blanc autour des images */
  border: 5px solid var(--color-02);
  border-radius: 20px 20px 0px 0px;
}

.mr1 {
  margin-right: 30px;
}

.mb {
  /* Met un espace sous certaines cartes */
  margin-bottom: 35px;
}

#main-apartment > h2 {
  margin-left: 20px;
}

#main-apartment > button {
  margin-left: 20px;
  margin-top: 50px;
  margin-bottom: 40px;
  /* Font */
  font-size: 18px;
  font-weight: 700;
}

/*
/////////////////////////////////////////////////////////
/////// MAIN / ASIDE /// Les plus polulaires ////////////
/////////////////////////////////////////////////////////
*/

#main-aside {
  /* aside : background Les plus populaires */

  /* Sur la largeur totale du site le bloc aside prend : 30% */
  width: 32%;
  background-color: var(--color-05);
  border-radius: 20px;
  /* Marge et padding bloc "les plus populaires" */
  margin-left: 35px;
  padding-left: 30px;
  padding-right: 30px;
}

#main-aside > div {
  /* Bloc titre : les plus populaires */
  width: 100%;
}

#main-aside > div > i {
  /* Icône du bloc titre : les plus populaires */
  font-size: 18px;
}

article {
  width: 100%;
}

.card-aside {
  /* carte aside : les plus populaires */
  width: 100%;
  height: 144px;
  border-radius: 20px;
  background-color: var(--color-02);
}

.img-aside {
  width: 100%;
  height: 100%;
  /* White */
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
  /*Bordure blanche autour de l'image */
  border: 5px solid var(--color-02);
}

.card-aside > div {
  width: 100%;
  height: 100%;
  /* White */
  border-radius: 20px 0px 0px 20px;
}

.card-aside > section {
  width: 150%;
  padding-top: 16px;
  padding-bottom: 12px;
  margin-right: 10px;
  margin-left: 15px;
}

/*
/////////////////////////////////////////////////////////
/////// MAIN //// Activités à Marseille /////////////////
/////////////////////////////////////////////////////////
*/

#main-activity {
  /*
  Marges au dessus et au dessous
  de la section Activités à Marseille
  */
  padding-top: 15px;
  margin-bottom: 60px;
}

.card-activity {
  /* carte : activités */
  width: 100%;
  height: 445px;
  border-radius: 20px;
}

.mr {
  /* marge à droite des 3 premières cartes activités */
  margin-right: 40px;
}

.img-activity {
  /* Images des cartes */
  width: 100%;
  height: 389px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.card-activity > section {
  /* section : qui contient les h3 */
  width: auto;
  height: 100%;
  margin-left: 20px;
}

.card-activity > section > h3 > br {
  /* Empèche le retour à la ligne */
  display: none;
}

/*
/////////////////////////////////////////////////////////
///////////////////////// FOOTER ////////////////////////
/////////////////////////////////////////////////////////
*/

footer {
  height: 225px;
  background-color: var(--color-05);
}

footer > section {
  width: 1340px;
  padding-bottom: 40px;
}

footer > section > div {
  width: 280px;
  line-height: 30px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* / / / / / / / / /  R E S P O N S I V E  / / / / / / / / */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/*
------------------------------------------------------------
o o o o o o o o o o o  VERSION TABLETTE  o o o o o o o o o o 
------------------------------------------------------------ 
                          HEADER
------------------------------------------------------------
*/

@media screen and (max-width: 992px) {
  /* Si l'écran est inférieur ou égal à : 992px */

  .container-01,
  .container-02 {
    max-width: 90%;
  }

  /* :::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /* ------- Header : Section logo & nav Tablette ------- */
  /* :::::::::::::::::::::::::::::::::::::::::::::::::::: */

  .right {
    border-top: solid 2px transparent;
    color: var(--color-01);
  }

  /* :::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /* ------- Header : Section : Filter Tablette --------- */
  /* :::::::::::::::::::::::::::::::::::::::::::::::::::: */

  .filters > ul {
    margin-left: 10px;
  }

  /*
  ------------------------------------------------------------
  o o o o o o o o o o o  VERSION TABLETTE  o o o o o o o o o o 
  ------------------------------------------------------------ 
                              MAIN
  ------------------------------------------------------------
  */
  /* :::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /* ------ Main : Hébergement à Marseille Tablette ----- */
  /* :::::::::::::::::::::::::::::::::::::::::::::::::::: */

  #main-apartment {
    /* section : background hébergement à Marseille */
    width: 100%;
  }

  /* :::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /* -------- Main : Les plus polulaires Tablette ------- */
  /* :::::::::::::::::::::::::::::::::::::::::::::::::::: */

  #main-aside {
    /* padding bloc "les plus populaires" */
    width: 100%;
    margin-left: 0px;
    margin-top: 40px;
    padding-bottom: 20px;
  }

  main > section {
    flex-direction: column;
    align-items: center;
  }

  article {
    display: flex;
  }

  .card-aside > section {
    margin-left: 2px;
    margin-right: 5px;
  }

  .card-p-letter-spacing {
    /* Interlettrage spécifique plus resserré */
    letter-spacing: -0.5px;
  }

  .mr2 {
    margin-right: 20px;
  }

  /* :::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /* ------ Main : Activités à Marseille Tablette ------- */
  /* :::::::::::::::::::::::::::::::::::::::::::::::::::: */

  #main-activity {
    display: flex;
    align-items: stretch;
    margin-top: 20px;
  }

  .card-activity {
    /* carte : activités */
    height: 267px;
  }

  .img-activity {
    /* carte : images */
    height: 212px;
  }

  .mr {
    /* marge à droite des 3 premières cartes activités */
    margin-right: 50px;
  }

  .img-activity {
    /* Images des cartes */
    height: 211px;
  }
  .card-activity > section {
    /* section : qui contient les h3 */
    padding-right: 5px;
  }

  .card-activity > section > h3 > br {
    /* Rétablie le retour à la ligne */
    display: inline;
  }

  /*
  ------------------------------------------------------------
  o o o o o o o o o o o  VERSION TABLETTE  o o o o o o o o o o 
  ------------------------------------------------------------ 
                              FOOTER
  ------------------------------------------------------------
  */

  footer > section {
    width: 880px;
  }

  footer > section > div {
    width: 200px;
  }
} /* fin @media queries tablette */

/*
-------------------------------------------------------------------------------------------------
o o o o o o o o o o o o  VERSION MOBILE  o o o o o o o o o o o 
------------------------------------------------------------------------------------------------- 
                            HEADER
-------------------------------------------------------------------------------------------------
*/

@media screen and (max-width: 768px) {
  /* Si l'écran est inférieur ou égal à : 768px */

  /* :::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /*          Header : section logo & nav Mobile          */
  /* :::::::::::::::::::::::::::::::::::::::::::::::::::: */

  .section-logo-nav {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  nav > ul > li {
    width: 190px;
    padding-top: 60px;
  }

  .left,
  .right {
    border-top: 2px transparent;
  }

  /* Syntaxe pour plusieurs bouton sur le même hover */
  .left:hover,
  .right:hover {
    padding-bottom: 20px;
    border-bottom: solid 3px;
    margin-left: 0px;
    border-top: transparent;
    color: var(--color-03);
    position: absolute;
  }

  /* :::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /*       Header : section Titre & baseline Mobile       */
  /* :::::::::::::::::::::::::::::::::::::::::::::::::::: */

  .section-title {
    margin-top: 40px;
  }

  .section-title > h1 > br {
    /* Rétablie le retour à la ligne */
    display: inline;
  }

  /* :::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /*         Header : section rechercher Mobile           */
  /* :::::::::::::::::::::::::::::::::::::::::::::::::::: */

  .section-search {
    margin-top: 30px;
  }

  .search-icon-desktop {
    display: none;
  }

  .search-icon-mobile {
    visibility: visible;
    width: 49px;
  }

  .search-icon-mobile > i {
    color: var(--color-02);
    font-size: 18px;
  }

  /* :::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /*           Header : section : Filter Mobile           */
  /* :::::::::::::::::::::::::::::::::::::::::::::::::::: */

  .filters {
    flex-wrap: wrap;
  }

  .filters * {
    font-size: 11px;
  }

  .filters > section {
    width: 100%;
    /* Section qui englobe les 4 boutons des filtres */
    justify-content: space-between;
  }

  .filters > p {
    font-size: 17px;
    margin-top: 20px;
  }

  .filters > ul {
    width: 160px;
    margin: 8px 0px;
  }

  .filters > ul > i {
    /* Les icônes */
    margin-left: 15px;
    font-size: 20px;
  }

  .filters > ul > li {
    /* Marges autour des textes */
    margin-right: 10px;
  }

  .filters-bg-color {
    background-color: transparent;
  }

  .filters > ul.b-shadow-filters {
    /* Ombre sous le bouton : Économique */
    box-shadow: 2px 2px 2px var(--color-05);
  }

  /* :::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /*        Header : section : i : information Mobile     */
  /* :::::::::::::::::::::::::::::::::::::::::::::::::::: */

  .section-info > p > br {
    display: inline;
  }

  /*
  ------------------------------------------------------------
  o o o o o o o o o o o  VERSION MOBILE o o o o o o o o o o 
  ------------------------------------------------------------ 
                              MAIN
  ------------------------------------------------------------
  */

  .container-02 {
    max-width: 100%;
  }

  .fd-cr {
    /*
    Place le bloc les plus populaires au dessus,
    d'Hébergement à Marseille
    */
    flex-direction: column-reverse;
  }

  /* :::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /*            Main : Les plus polulaires Mobile         */
  /* :::::::::::::::::::::::::::::::::::::::::::::::::::: */

  #main-aside {
    /* Bloc : les plus populaires */
    border-radius: 0px;
    margin-top: 0px;
    padding-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .card-aside > section {
    margin-left: 8px;
    margin-right: 20px;
  }

  .card-aside > div {
    width: 120%;
  }

  h2 {
    /* Bloc titre : les plus populaires */
    margin-top: 30px;
  }

  article {
    flex-direction: column;
  }

  /* :::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /*        Main : Hébergement à Marseille Mobile         */
  /* :::::::::::::::::::::::::::::::::::::::::::::::::::: */

  #main-apartment {
    /* section : background hébergement à Marseille */
    background-color: var(--color-02);
  }

  #main-apartment > section > div {
    /* section : background hébergement à Marseille */
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
  }

  .card-apartment {
    /* Largeur des cartes hébergements */
    width: 100%;
    margin-bottom: 25px;
  }

  .mb {
    /* Met un espace sous certaines cartes */
    margin-bottom: 18px;
  }

  .card-apartment > div {
    margin-left: 15px;
  }

  .img-apartment {
    /* Images des hébergements */
    object-position: 70% 70%;
  }

  #main-apartment > h2 {
    margin-left: 0px;
  }

  #main-apartment > button {
    /* Supprime le bouton */
    display: none;
  }

  /* :::::::::::::::::::::::::::::::::::::::::::::::::::: */
  /*          Main : Activités à Marseille Mobile         */
  /* :::::::::::::::::::::::::::::::::::::::::::::::::::: */

  #main-activity {
    /*
    Marges au dessus et au dessous
    de la section Activités à Marseille
    */
    margin-top: 70px;
    margin-bottom: 60px;
  }

  #main-activity > h2 {
    margin-left: 30px;
    width: 150px;
    margin-bottom: 10px;
  }

  #main-activity > section {
    flex-direction: column;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
  }

  .card-activity {
    /* carte : activités */
    height: 200px;
    margin-bottom: 25px;
  }

  .mr {
    /* marge à droite des 3 premières cartes activités */
    margin-right: 0px;
  }

  .img-activity {
    /* Images des cartes */
    height: 134px;
  }

  .card-activity > section > h3 > br {
    /* Empèche le retour à la ligne */
    display: none;
  }

  /*
  ------------------------------------------------------------
  o o o o o o o o o o o  VERSION MOBILE o o o o o o o o o o 
  ------------------------------------------------------------ 
                              FOOTER
  ------------------------------------------------------------
  */

  #footer {
    max-width: 100%;
    height: 500px;
  }

  footer > section {
    flex-direction: column;
    margin: 40px;
    height: 460px;
  }
} /* fin @media queries mobile */
