/*
/////////////////////////////////////////////////////////
///////////////////// GLOBAL CSS ////////////////////////
/////////////////////////////////////////////////////////
*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box; /* facilite et simplifie la gestion de la taille des éléments d'un navigateur à l'autre */
  max-width: 1400px; /* Largeur max du site */
  margin: auto; /* A pour effet de centrer le site dans la page du navigateur */
  /* TEST */
  border: solid 2px rgb(17, 255, 0);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

/*
/////////////////////////////////////////////////////////
/////////////////////// COLORS //////////////////////////
/////////////////////////////////////////////////////////
*/

:root {
  --color-01: black;
  --color-02: white;
  --color-03: rgb(0, 101, 252);
  --color-04: rgb(222, 235, 255);
  --color-05: rgb(217, 217, 217);
}

/*
///////////////////// LES FONTES ////////////////////////
*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--color-01);
  margin: 0;
  padding: 0;
}

/*
///////////////////// < ul > /////////////////////////////
*/

ul,
li {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/*
///////////////////// < a > //////////////////////////////
*/

a,
a:visited,
a:hover {
  text-decoration: none;
}

a {
  margin: 0;
  padding: 0;
  color: rgb(0, 204, 255);
}

/*
/////////////////////////////////////////////////////////
////////////////////// CONTAINERS ///////////////////////
/////////////////////////////////////////////////////////
*/

.container-01 {
  max-width: 95%;
  margin: 0 auto 0;
  /* TEST */
  /* border: solid 2px red; */
}

.container-02 {
  max-width: 95%;
  margin: 20px auto;
  /* TEST */
  border: solid 2px rgb(0, 68, 255);
}

.container-03 {
  margin: 60px auto 0px auto;
  /* TEST */
  /* border: solid 2px rgb(64, 255, 0);
  background-color: rgb(255, 204, 0); */
}

.container-04 {
  margin: 20px auto;
  /* TEST */
  /* border: solid 2px rgb(0, 255, 17); */
}

/*
/////////////////////////////////////////////////////////
////////////////////://// FLEXBOX ///////////////////////
/////////////////////////////////////////////////////////
*/

.d-flex {
  display: flex;
}

.d-flex-fd-c {
  display: flex;
  flex-direction: column;
}

.d-flex-fd-c-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.d-flex-fd-r {
  display: flex;
  flex-direction: row;
}

.d-flex-jc-c {
  display: flex;
  justify-content: center;
}

.d-flex-ai-c {
  display: flex;
  align-items: center;
}
.d-flex-ai-jc-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex-jc-sb {
  display: flex;
  justify-content: space-between;
}

.d-flex-jc-fe {
  display: flex;
  justify-content: flex-end;
}

.d-flex-jc-fs {
  display: flex;
  justify-content: flex-start;
}

.d-flex-jc-sa {
  display: flex;
  justify-content: space-around;
}

.d-flex-fw {
  display: flex;
  flex-wrap: wrap;
}

.d-flex-ai-b-jc-sb {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

/*
/////////////////////////////////////////////////////////
///////////////////////// HEADER ////////////////////////
/////////////////////////////////////////////////////////
*/

/* ---------------------------------------------------- */
/* ------ Section logo & nav -------------------------- */
/* ---------------------------------------------------- */

.section-logo-nav > img {
  height: 19px;
  width: 61px;
}

.section-logo-nav > nav {
  font-size: 16px;
}

nav > ul > li {
  width: 162px;
  padding-top: 35px;
}

.right {
  border-top: solid 2px;
  color: var(--color-03);
}

.left {
  border-top: solid 2px transparent;
}

/* ---------------------------------------------------- */
/* ------ Section Titre & baseline -------------------- */
/* ---------------------------------------------------- */

.section-title > h1 {
  font-size: 22px;
  font-weight: 700;
}

.section-title > h1 > br {
  display: none;
}

.section-title > p {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

/* ---------------------------------------------------- */
/* ------ Section rechercher -------------------------- */
/* ---------------------------------------------------- */

form {
  font-size: 0px; /* permet de supprimer l'espace avant et après l'input */
}

form > div {
  width: 50px;
  height: 49px;
  border-radius: 15px 0px 0px 15px;
  background-color: var(--color-05);
  /* Font */
  font-size: 20px;
  /* TEST */
  /* border: solid red; */
}

input {
  width: 230px;
  height: 49px;
  padding-left: 16px;
  border: solid 1px var(--color-05);
  /* Font */
  font-size: 18px;
  font-weight: 700;
}

input::placeholder {
  opacity: 1;
}

.search-icon-desktop {
  width: 132px;
  height: 49px;
  border-radius: 0px 15px 15px 0px;
  color: var(--color-02);
  background-color: var(--color-03);
  border-style: none;
  /* Font */
  font-size: 18px;
  font-weight: 600;
}

.test {
  visibility: collapse;
}

/* ---------------------------------------------------- */
/* ------ Section : Filter ---------------------------- */
/* ---------------------------------------------------- */

.filters * {
  /* Font */
  font-size: 17px;
  font-weight: 700;
}

.filters > ul {
  height: 50px;
  border-radius: 25px;
  margin-left: 40px;
  margin-right: 10px;
  border: solid 2px var(--color-05);
}

/* Les icônes */
.filters > ul > i {
  margin-left: 20px;
  margin-right: 10px;
  color: var(--color-03);
  /* Font */
  font-size: 22px;
}

/* Marges autour des textes */
.filters > ul > li {
  margin-right: 20px;
}

.filters-bg-color {
  background-color: var(--color-04);
}

/* ---------------------------------------------------- */
/* ------ Section : i : information ------------------- */
/* ---------------------------------------------------- */

.section-info > div {
  font-size: 12px;
  height: 24px;
  width: 24px;
  border-radius: 50px;
  color: var(--color-03);
  border: solid 1px var(--color-05);
}

.section-info > p {
  margin-left: 10px;
}

.section-info > p > br {
  display: none;
}

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

/*
VERSION TABLETTE :
Sur tous types d'écran quand la largeur de la fenêtre
est comprise entre : 768px et 992px.
*/

@media all and (min-width: 768px) and (max-width: 992px) {
  /* ---------------------------------------------------- */
  /* ------ Section logo & nav -------------------------- */
  /* ---------------------------------------------------- */
  .right {
    border-top: solid 2px transparent;
    color: var(--color-01);
  }

  /* ---------------------------------------------------- */
  /* ------ Section : Filter ---------------------------- */
  /* ---------------------------------------------------- */
  .filters > ul {
    margin-left: 15px;
  }

  .filters-bg-color {
    background-color: transparent;
  }
} /* fin @media queries tablette */

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

/*
VERSION MOBILE :
Si l'écran plus petit ou égal à : 768px.
*/
@media screen and (max-width: 768px) {
  /* ---------------------------------------------------- */
  /* ------ Section logo & nav -------------------------- */
  /* ---------------------------------------------------- */

  .container-01 {
    max-width: 90%;
    margin: 0 auto 0;
  }
  .section-logo-nav {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
  }

  nav > ul > li {
    width: 187px;
    padding-top: 60px;
  }

  .right {
    padding-bottom: 20px;
    border-bottom: solid 3px;
    border-top: transparent;
  }

  /* ---------------------------------------------------- */
  /* ------ Section Titre & baseline -------------------- */
  /* ---------------------------------------------------- */

  .section-title > h1 > br {
    display: inline;
  }

  /* ---------------------------------------------------- */
  /* ------ Section rechercher -------------------------- */
  /* ---------------------------------------------------- */

  .search-icon-desktop {
    display: none;
  }
  .test {
    visibility: visible;
    width: 49px;
    border-radius: 0px 15px 15px 0px;
    color: var(--color-02);
    background-color: var(--color-03);
    border-style: none;
    /* Font */
    font-size: 18px;
  }

  /* ---------------------------------------------------- */
  /* ------ Section : Filter ---------------------------- */
  /* ---------------------------------------------------- */

  .filters {
    flex-wrap: wrap;
  }

  .filters * {
    /* Font */
    font-size: 11px;
  }

  .filters > p {
    /* Font */
    font-size: 17px;
    margin-top: 20px;
  }

  .filters > ul {
    height: 50px;
    width: 160px;
    margin: 10px 15px 5px 0px;
    /* TEST */
    /* border: solid 2px rgb(255, 47, 0); */
  }

  /* Les icônes */
  .filters > ul > i {
    margin-left: 10px;
    color: var(--color-03);
    /* Font */
    font-size: 20px;
    /* TEST */
    /* border: solid 1px rgb(255, 47, 0); */
  }

  /* Marges autour des textes */
  .filters > ul > li {
    margin-right: 10px;
    /* TEST */
    /* border: solid 1px rgb(0, 17, 255); */
  }

  .filters-bg-color {
    background-color: transparent;
  }
  /* ---------------------------------------------------- */
  /* ------  Section : i : information ------------------ */
  /* ---------------------------------------------------- */

  .section-info > p > br {
    display: inline;
  }
} /* fin @media queries mobile */

/* ---------------------------------------------------- */

/*
/////////////////////////////////////////////////////////
////////// MAIN //////// ÉLÉMENTS SIMILAIRES ////////////
/////////////////////////////////////////////////////////
*/

/* ------ Les étoiles --------------------------------- */

#blue-star {
  color: var(--color-03);
  /* Font */
  font-size: 14px;
}

#grey-star {
  color: var(--color-04);
  /* Font */
  font-size: 14px;
}

/* ------ <h3> / <p> / <strong> des cartes ------------------ */

.card-title {
  /* Font */
  font-weight: 700;
  font-size: 16px;
}
.card-p {
  /* Font */
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding-top: 5px;
  padding-bottom: 7px;
}

.card-p > strong {
  font-size: 14px;
  font-weight: 600;
  /* color: violet; */
}

/* ------ Ombre des cartes ---------------------------- */

.b-shadow {
  box-shadow: 2px 2px 20px var(--color-05);
}

/* ------ Ombre des filtres vs mobile ---------------------------- */

.b-shadow-filters {
  box-shadow: 2px 2px 5px var(--color-05);
}

/*
/////////////////////////////////////////////////////////
////////// MAIN //// Hébergement à Marseille ////////////
/////////////////////////////////////////////////////////
*/

/* section : background hébergement à Marseille */

#main-apartment {
  background-color: var(--color-04);
  height: 626px;
  width: 880px;
  border-radius: 20px;
}

/* carte des hébergements */

.card-apartment {
  width: 246px;
  height: 199px;
  border-radius: 20px;
  border: solid 1px rgb(161, 87, 165);
  display: flex;
  flex-direction: column;

  /* TEST */
  background-color: var(--color-02);
}

.card-apartment > div {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  /* TEST */
  /* border: solid 1px rgb(165, 130, 87); */
}

/* carte des hébergements */

.img-apartment {
  width: 246px;
  height: 124px;
  object-fit: cover;

  /* White */
  border: 5px solid var(--color-02);
  border-radius: 20px 20px 0px 0px;
}

/*
/////////////////////////////////////////////////////////
/////// MAIN / ASIDE /// Les plus polulaires ////////////
/////////////////////////////////////////////////////////
*/

/* aside : background Les plus populaires */
#main-aside {
  background-color: var(--color-05);
  height: 625px;
  width: 420px;
  border-radius: 20px;
}

/* carte aside : les plus populaires */

.card-aside {
  height: 144px;
  width: 343px;
  border-radius: 20px;
  background-color: var(--color-02);
  /* TEST */
  /* border: solid 3px rgb(0, 145, 255); */
}

.img-aside {
  height: 144px;
  width: 137px;
  /* White */
  border-radius: 20px 0px 0px 20px;
  object-fit: cover;
  /* TEST */
  border: 5px solid var(--color-02);
}
.card-aside > div {
  padding-top: 16px;
  padding-bottom: 12px;

  /* TEST */
  /* border: solid 3px rgb(255, 234, 0); */
}
/*
/////////////////////////////////////////////////////////
/////// MAIN //// Activités à Marseille /////////////////
/////////////////////////////////////////////////////////
*/

#main-activity {
  /* TEST */
  border: solid 2px rgb(255, 47, 0);
}

/* carte : activités */

.card-activity {
  width: 302px;
  height: 445px;
  border-radius: 20px;
}

.img-activity {
  width: 302px;
  height: 445px;
  /* White */
  border: 5px solid var(--color-02);
  border-radius: 20px;
  object-fit: cover;
  /* TEST */
  /* border: solid 3px rgb(255, 234, 0); */
}

.card-activity > div {
  height: 56px;
  width: 302px;
  margin-left: 19px;
  /* TEST *
  /* border: solid 3px rgb(255, 234, 0); */
}

.portrait-img {
  height: 396px;
}
